body{
    font-family: arial;
    background-color: skyblue;
}.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap :10px;
    row-gap:10px;
    align-items: center;
}.todo-input-grid{
    margin-bottom: 15px;
    align-items: stretch;
}.name,.date{
    font-size: 15px;
    padding:6px;
}.btn{
    background-color: green;
    color: white;
    border:none;
    font-size:15px;
    cursor: pointer;
}.del-btn{
    background-color:  red;
    color: white;
    border:none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}